#nav_header{
    margin-bottom: 0px;
}
#dituContent{
    width: 1100px;
    height: 880px;
    border: #ccc solid 1px;
}
#shoppingcart_pos{
    margin-top: 51px;
    margin-left: 579px;
    margin-right: -657px;
}