img{
    height: 50px;
    width: 50px;
}
#shoppingcart_pos{
    margin-top: 51px;
    margin-left: 579px;
    margin-right: -657px;
}


/*背景图片*/
body{
    background: url("/img/blue-snow.png");
    font-family: 微软雅黑 ;
    font-size: 15px;
}

.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}


/*导航栏设置*/
.navbar-header{
    margin-left: 10% !important;
}
.navbar-nav{
    margin-left: 25px !important;
}

#input_header_search{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius:16px;
    border-bottom-left-radius:16px;
}

#div_header_user{
    float: right!important;
}

.navbar-right{
    margin-right: 10%;
}

.commodity_img{
    width: 100%;
}
.h3_commodityname{
    font-size: 18px;
    margin-top: 5px;
}

.button_commodity{
    font-size: 12px;
    width: 48%;
    padding-left: 4%;
}

.p_commoditydesc{
    height: 80px;
}