<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css"/>
    <title>用户详情</title>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PPBZ 随手递平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/user/admin">商家管理 <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">用户管理</a></li>
                <li><a href="/user/rc">注册审核</a></li>
            </ul>
            <div class="navbar-form navbar-left" id="div_head_search">
                <div class="form-group  has-feedback">
                    <label class="control-label sr-only" for="input_header_search">Input with error</label>
                    <span class="glyphicon glyphicon-search form-control-feedback" id="glyphicon_search"></span>
                    <input type="text" class="form-control" id="input_header_search" placeholder="Search">
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user/login" th:text="'您好,'+${session.nameofuser}"></a></li>
                <li><a href="/user/logout">登出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<input type="hidden" id="id_del">
<div class="container-fluid" id="user_detail">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="loginname">登陆账户</label>
                <input type="text" class="form-control" id="loginName" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">用户名称</label>
                <input type="text" class="form-control" id="userName" placeholder="Jane Doe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">登陆密码</label>
                <input type="text" class="form-control" id="password" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="userAuthority">用户权限</label>
                <input type="text" class="form-control" id="userAuthority" placeholder="Jane Doe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="phonenumber">联系方式</label>
                <input type="text" class="form-control" id="phonenumber" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="useraddress">用户地址</label>
                <input type="text" class="form-control" id="userAddress" placeholder="Jane Doe">
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary" ><a href="manager_user_add" style="color: black">添加用户</a></button>
    <button type="button" class="btn btn-primary" ><a href="/user/um" style="color: black" id="updateUserDetail">修改信息</a></button>
    <button type="button" class="btn btn-primary" id="btn_delete"><a href="/user/um" style="color: black">删除账户</a></button>
</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        function GetQueryValue(queryName) {
            var query = decodeURI(window.location.search.substring(1));
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == queryName) { return pair[1]; }
            }
            return null;
        }
        var queryVal=GetQueryValue('id');

        var user_2update;

        $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/User/"+queryVal,
            contentType: "application/json",
            type: "GET",
            async:false,
            //data: JSON.stringify(user),
            success: function (result) {
                user_2update=result;
                $("input#loginName").val(result.login_name);
                $("input#userName").val(result.user_name);
                $("input#password").val(result.password);
                $("input#userAuthority").val(result.authority);
                $("input#phonenumber").val(result.phonenumber);
                $("input#userAddress").val(result.user_address);
                $("input#id_del").val(result.id);
            }
        });

        var btn_del=$("button#btn_delete");
        btn_del.click(function () {
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/User/"+String($("input#id_del").val()),
                //contentType: "application/json",
                type: "DELETE",
                async:false,
                //data: JSON.stringify(user),
                success: function (result) {
                    alert("success");
                }
            });

        });

        /**
         * update的实现（实测可以用，但没有实现）
         */
        $("#updateUserDetail").click(function () {
            user_2update.user_name=$("input#userName").val();
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/User/"+String($("input#id_del").val()),
                contentType: "application/json",
                type: "PUT",
                async:false,
                data: JSON.stringify(user_2update),
                success: function (result) {
                    alert("信息修改成功");
                }
            });

        })

    });
</script>



</body>
</html>