<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/consumer_mo.css}" rel="stylesheet" type="text/css"/>
    <title>用户</title>
</head>
<body>

<!-- 购物车功能的尝试 -->
<div id="shoppingCart" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <p hidden id="p_shoppingcart_storeid"></p>
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="shoppingcart_pos">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">我的购物车</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品总价</th>
                        <th>操作</th>
                        <th>取消订单</th>
                    </tr>
                    </thead>
                    <tbody id="shoppingcart_tbody">
                    </tbody>
                </table>
                <hr>
                <h4>商品总额：</h4>
                <p id="p_totalprice"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="#"  role="button" id="settleAccounts">结算</a>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<p id="p_userid" hidden th:text="${session.idofuser}"></p>
<div class="container-fluid">
    <nav class="navbar navbar-default"  id="nav_header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PPBZ 随手递平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/user/main">周边浏览</a></li>
                    <li class="active"><a href="/user/mo">我的订单<span class="sr-only">(current)</span></a></li>
                    <li><a href="/user/mmo">我的接单</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group  has-feedback">
                        <label class="control-label sr-only" for="input_header_search">Input with error</label>
                        <span class="glyphicon glyphicon-search form-control-feedback" id="glyphicon_search"></span>
                        <input type="text" class="form-control" id="input_header_search" placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user/login" th:text="'你好，'+${session.nameofuser}"></a></li>
                    <li><a href="#" id="myShoppingCart">购物车</a></li>
                    <li><a href="/user/logout">登出</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div><p hidden id="p_orderid" th:text="${orderid}"></p></div>


<div class="container-fluid" id="user_detail">
    <div class="row" id="div_main">
        <table class="table table-condensed" id="table_admin_store_manage">
            <thead>
            <tr>
                <th>订单ID</th>
                <th>商品名称</th>
                <th>商品数目</th>
                <th>商品总价</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="orderid">订单ID</label>
                <input disabled type="text" class="form-control" id="orderId" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ownername">收货人名称</label>
                <input type="text" class="form-control" id="ownerName" placeholder="Jane Doe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="phonenumber">联系方式</label>
                <input type="text" class="form-control" id="phonenumber" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="userAddress">收货地址</label>
                <input type="text" class="form-control" id="userAddress" placeholder="Jane Doe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="totalprice">订单总价</label>
                <input disabled type="text" class="form-control" id="totalPrice" placeholder="Jane Doe">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="storename">商家名称</label>
                <input disabled type="text" class="form-control" id="storeName" placeholder="Jane Doe">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-6">
            <button type="button" class="btn btn-primary" id="orderinfo_update"><a href="#" style="color: black">修改信息</a></button>
        </div>
    </div>
</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/js_mymap.js"></script>
<script src="/js/js_myshoppingcart.js"></script>
<script src="/js/js_consumer_od.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var o2u;

        var oid=$("#p_orderid").text();

        var sid="#";

        //初始化订单商品
        initOrderItems(oid);
        //获取订单基本信息
        o2u=getOrderInfo(oid);

        var uid=$("#p_userid").text();

        $("a#myShoppingCart").click(function () {
            getShoppingCart();
        });
        $("a#settleAccounts").click(function () {
            settleAccounts();
        });



        $("#orderinfo_update").click(function () {
            var oname=$("#ownerName").val();
            var pho=$("#phonenumber").val();
            var oadd=$("#userAddress").val();
            console.log(oname+pho+oadd);
            o2u.owner_name=oname;
            o2u.owner_phonenumber=pho;
            o2u.owner_address=oadd;
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Order/"+oid,
                contentType: "application/json",
                type: "PUT",
                async:false,
                data: JSON.stringify(o2u),
                success: function (result) {
                    alert("订单信息修改成功");
                }
            });
            o2u=getOrderInfo(oid);

        })

    });


</script>




</body>
</html>
