<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/consumer_cb.css}" rel="stylesheet" type="text/css"/>
    <title>用户</title>
</head>
<body>

<!-- 购物车功能的尝试 -->
<div id="shoppingCart" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <p hidden id="p_shoppingcart_storeid"></p>
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="shoppingcart_pos">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">我的购物车</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品总价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="shoppingcart_tbody">
                    </tbody>
                </table>
                <hr>
                <h4>商品总额：</h4>
                <p id="p_totalprice"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="#"  role="button" id="settleAccounts">结算</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- sample modal content -->
<div id="add2Shoppingcart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">加入购物车</h4>
            </div>
            <div class="modal-body">
                <h4>提示：确定要将该商品加入购物车吗？</h4>
                <p id="p_address"></p>
                <p id="p_cid" hidden></p>
                <p id="p_price" hidden></p>
                <hr>
                <h4>请选择商品数目：</h4>
                <input id="input_commodity_number" style="width: 30px" value="1">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="#" id="a_add2ShoppingCart" role="button" data-dismiss="modal"><span id="span_add2Shoppingcart" hidden></span>加入购物车</a>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<p id="p_userid" hidden th:text="${session.idofuser}"></p>
<p id="p_storeid" hidden th:text="${id}"></p>
<div class="container-fluid">
    <nav class="navbar navbar-default"  id="nav_header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PPBZ 随手递平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/user/main">周边浏览</a></li>
                    <li class="active"><a href="#">商品选购<span class="sr-only">(current)</span></a></li>
                    <li><a href="/user/mo">我的订单</a></li>
                    <li><a href="/user/mmo">我的接单</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group  has-feedback">
                        <label class="control-label sr-only" for="input_header_search">Input with error</label>
                        <span class="glyphicon glyphicon-search form-control-feedback" id="glyphicon_search"></span>
                        <input type="text" class="form-control" id="input_header_search" placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user/login" th:text="'你好，'+${session.nameofuser}"></a></li>
                    <li><a href="#" id="myShoppingCart">购物车</a></li>
                    <li><a href="/user/logout">登出</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid" id="div_all_commodity">
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/js_myshoppingcart.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var sid=$('p#p_storeid').html();
        console.log(sid);
        $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Commodity/?Commodity.owner_id="+sid,
            contentType: "application/json",
            type: "GET",
            async:false,
            success: function (result) {
                var totalnum=result.Commodity.length;
                var current=0;
                while(totalnum>=3) {
                    var divRowHTML='<div class="row" xmlns="http://www.w3.org/1999/html">\n' +
                        '    <div class="col-md-6 col-md-offset-3">\n' +
                        '        <div class="row">\n' +
                        '            <div class="col-sm-6 col-md-4">\n' +
                        '                <div class="thumbnail">\n' +
                        '                    <img class="commodity_img" src="'+String("http://118.31.76.154:8080/file/U338ffb3af9551/BPM_H2H/Commodity/"+result.Commodity[current].id)+'\" alt="...">\n' +
                        '                    <div class="caption">\n' +
                        '                        <h3 class="h3_commodityname">'+result.Commodity[current].commodity_name+'</h3>\n' +
                        '                        <p class="p_commoditydesc">'+result.Commodity[current].description+'</p>\n' +
                        '                         <h4 class="h4_commodity_price">商品价格:'+result.Commodity[current].commodity_price+' 元</h4>\n' +
                        '                        <p><a href="#" class="btn btn-primary  button_commodity" role="button">立即购买</a> <a href="#" class="btn btn-default  button_commodity  twoShoppingCart" role="button"><span hidden>'+result.Commodity[current].id+'</span>加入购物车</a></p>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '            <div class="col-sm-6 col-md-4">\n' +
                        '                <div class="thumbnail">\n' +
                        '                    <img class="commodity_img" src="'+String("http://118.31.76.154:8080/file/U338ffb3af9551/BPM_H2H/Commodity/"+result.Commodity[current+1].id)+'\" alt="...">\n' +
                        '                    <div class="caption">\n' +
                        '                        <h3 class="h3_commodityname">'+result.Commodity[current+1].commodity_name+'</h3>\n' +
                        '                        <p class="p_commoditydesc">'+result.Commodity[current+1].description+'</p>\n' +
                        '                        <h4 class="h4_commodity_price">商品价格:'+result.Commodity[current+1].commodity_price+' 元</h4>\n' +
                        '                        <p><a href="#" class="btn btn-primary  button_commodity" role="button">立即购买</a> <a href="#" class="btn btn-default  button_commodity  twoShoppingCart" role="button"><span hidden>'+result.Commodity[current+1].id+'</span>加入购物车</a></p>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '            <div class="col-sm-6 col-md-4">\n' +
                        '                <div class="thumbnail">\n' +
                        '                    <img class="commodity_img" src="'+String("http://118.31.76.154:8080/file/U338ffb3af9551/BPM_H2H/Commodity/"+result.Commodity[current+2].id)+'\" alt="...">\n' +
                        '                    <div class="caption">\n' +
                        '                        <h3 class="h3_commodityname">'+result.Commodity[current+2].commodity_name+'</h3>\n' +
                        '                        <p class="p_commoditydesc">'+result.Commodity[current+2].description+'</p>\n' +
                        '                         <h4 class="h4_commodity_price">商品价格:'+result.Commodity[current+2].commodity_price+' 元</h4>\n' +
                        '                        <p><a href="#" class="btn btn-primary  button_commodity " role="button">立即购买</a> <a href="#" class="btn btn-default  button_commodity twoShoppingCart" role="button"><span hidden>'+result.Commodity[current+2].id+'</span>加入购物车</a></p>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div>';

                    $("#div_all_commodity").append(divRowHTML);
                    totalnum=totalnum-3;
                    current=current+3;
                }

                var divRowHTML_2='<div class="row"><div class="col-md-6 col-md-offset-3"><div class="row">';
                for(var currenti=current;currenti<result.Commodity.length;currenti++){
                    divRowHTML_2=divRowHTML_2+'<div class="col-sm-6 col-md-4"><div class="thumbnail div_commodity_display"><img class="commodity_img" src="'+String("http://118.31.76.154:8080/file/U338ffb3af9551/BPM_H2H/Commodity/"+result.Commodity[currenti].id)+'\"'+' alt="..."><div class="caption"><h3 class="h3_commodityname">'+result.Commodity[currenti].commodity_name+'</h3><p class="p_commoditydesc">'+result.Commodity[currenti].description+'</p><h4 class="h4_commodity_price">商品价格:'+result.Commodity[currenti].commodity_price+'元</h4><p><a href="#" class="btn btn-primary button_commodity" role="button">立即购买</a> <a href="#foo" class="btn btn-default button_commodity twoShoppingCart" role="button"><span hidden>'+result.Commodity[currenti].id+'</span>加入购物车</a></p></div></div></div>'
                }
                divRowHTML_2=divRowHTML_2+'</div></div></div>';
                $("#div_all_commodity").append(divRowHTML_2);
            }
        });

        //唤起购物车模态框
        $(".twoShoppingCart").click(function () {
            var commodity_id=$(this).children("span").text();
            $("span#span_add2Shoppingcart").text(commodity_id);
            $('#add2Shoppingcart').modal('show');
        });


        //添加到购物车
        $("#a_add2ShoppingCart").click(function () {
            var commodity_id=$(this).children("span").text();
            var userid=$("#p_userid").text();
            var number=$("#input_commodity_number").val();
            var shoppingcart ={
                owner_id:userid,
                commodity_id:commodity_id,
                commodity_name:"未知",
                number:number,
                item_price:"0"
            };
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Commodity/"+commodity_id,
                contentType: "application/json",
                type: "GET",
                async:false,
                success: function (result) {
                    shoppingcart.commodity_name=result.commodity_name;
                    shoppingcart.item_price=result.commodity_price;
                }
            });
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Shoppingcart/",
                contentType: "application/json",
                type: "POST",
                async:false,
                data: JSON.stringify(shoppingcart),
                success: function (result) {
                    alert("添加成功");
                    $("#add2Shoppingcart").modal('hide');
                }
            });

        });







        //购物车和订单结算
        $("a#myShoppingCart").click(function () {
            getShoppingCart();
        });
        $("a#settleAccounts").click(function () {
            settleAccounts();
        });
        $("#shoppingCart").delegate("a.shoppingcart_commodity_delete","click",function(){
            var commodity_id_del=$(this).children("span").text();
            deleteCommodityFromShoppingcart(commodity_id_del);
        });


        //调整商品展示的图片宽高一致
        $(".commodity_img").height($(".commodity_img").width());




    });






</script>




</body>
</html>
