<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/consumer_mo.css}" rel="stylesheet" type="text/css"/>
    <title>用户</title>
</head>
<body>

<!-- 购物车功能的尝试 -->
<div id="shoppingCart" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <p hidden id="p_shoppingcart_storeid"></p>
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="shoppingcart_pos">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">我的购物车</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品总价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="shoppingcart_tbody">
                    </tbody>
                </table>
                <hr>
                <h4>商品总额：</h4>
                <p id="p_totalprice"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="#"  role="button" id="settleAccounts">结算</a>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<p id="p_userid" hidden th:text="${session.idofuser}"></p>
<div class="container-fluid">
    <nav class="navbar navbar-default"  id="nav_header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PPBZ 随手递平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/user/main">周边浏览</a></li>
                    <li class="active"><a href="/user/mo">我的订单<span class="sr-only">(current)</span></a></li>
                    <li><a href="/user/mmo">我的接单</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group  has-feedback">
                        <label class="control-label sr-only" for="input_header_search">Input with error</label>
                        <span class="glyphicon glyphicon-search form-control-feedback" id="glyphicon_search"></span>
                        <input type="text" class="form-control" id="input_header_search" placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user/login" th:text="'你好，'+${session.nameofuser}"></a></li>
                    <li><a href="#" id="myShoppingCart">购物车</a></li>
                    <li><a href="/user/logout">登出</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-condensed" id="table_admin_store_manage">
                <thead>
                <tr>
                    <th>订单ID</th>
                    <th>商家名称</th>
                    <th>商品总价</th>
                    <th>收货人姓名</th>
                    <th>联系方式</th>
                    <th>收货地址</th>
                    <th>订单状态</th>
                    <th>订单生成时间</th>
                    <th>订单完成时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
</div>



<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/js_mymap.js"></script>
<script src="/js/js_myshoppingcart.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var uid=$("#p_userid").text();
        var sid=$('p#p_storeid').html();
        $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Order/?Order.owner_id="+uid,
            contentType: "application/json",
            type: "GET",
            async:false,
            success: function (result) {

                for (var i=0;i<result.Order.length;i++) {
                    var endtime="订单进行中";
                    console.log(result.Order[i].order_endtime);
                    if(String(result.Order[i].order_endtime)==="undefined"){
                        console.log("true");
                    }else{
                        endtime=result.Order[i].order_endtime;
                    }
                    var state="#";
                    if(result.Order[i].order_state==="0"){
                        state="已发布";
                    }else if(result.Order[i].order_state==="1"){
                        state="已接单";
                    }else if(result.Order[i].order_state==="2"){
                        state="已完成";
                    }else{
                        state="已取消";
                    }
                    var trHTML = '<tr>'+
                        '<td>'+
                        result.Order[i].id+
                        '</td>'+
                        '<td>'+
                        result.Order[i].store_name+
                        '</td>'+
                        '<td>'+
                        result.Order[i].total_price+"元"+
                        '</td>'+
                        '<td>'+
                        result.Order[i].owner_name+
                        '</td>'+
                        '<td>'+
                        result.Order[i].owner_phonenumber+
                        '</td>'+
                        '<td>'+
                        result.Order[i].owner_address+
                        '</td>'+
                        '<td>'+ state+ '</td>'+
                        '<td>'+
                        result.Order[i].order_starttime+
                        '</td>'+
                        '<td>'+ endtime+ '</td>'+
                        '<td>'+
                        '<a href="#">操作</a>'+
                        '</td>'+
                        '</tr>';
                    $("#tbody").append(trHTML);
                }
            }
        });



        $("a#myShoppingCart").click(function () {
            getShoppingCart();
        });
        $("a#settleAccounts").click(function () {
            settleAccounts();
        })

    });


</script>




</body>
</html>
