<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Black Fish Login</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link th:href="@{/css/style.css}" rel="stylesheet" media="screen" type="text/css"/>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css"/>
  <script th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
  <script>
    $(function () {
      $('div[name="loginButton"]').click(function (event) {
        var username=$('input[name="userName"]').val();
        var password=$('input[name="userPwd"]').val();
        var checkbox=$('input[type="checkbox"]').prop("checked");

        if (checkbox){
          alert("你是商家");

          $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Store/?Store.login_name="+username,
            contentType: "application/json",
            type: "GET",
            async:false,
            //data: JSON.stringify(user),
            success: function (result) {

              var a = (JSON.stringify(result)==="{}");
              if (a){
                alert("登陆失败");
              }else{
                console.log(result.Store[0]);
                if (result.Store[0].password===password){
                  $(location).attr('href', '/user/shopkeeperr?username='+String(result.Store[0].login_name)+'&userid='+String(result.Store[0].store_id));
                }else {
                  alert("密码错误");
                }
              }
            }
          });

        }else{
          $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/User/?User.login_name="+username,
            contentType: "application/json",
            type: "GET",
            async:false,
            //data: JSON.stringify(user),
            success: function (result) {

              var a = (JSON.stringify(result)==="{}");
              if (a){
                alert("登陆失败");
              }else{
                console.log(result.User[0]);
                if (result.User[0].password===password){
                  alert("密码正确");
                  if (result.User[0].authority==="1"){
                    alert("您是管理员");
                    $(location).attr('href', '/user/adminn?username='+String(result.User[0].login_name)+'&userid='+String(result.User[0].user_id));
                  }else {
                    alert("您是普通用户");
                    $(location).attr('href', '/user/consumer?username='+String(result.User[0].login_name)+'&userid='+String(result.User[0].user_id));
                  }

                }else {
                  alert("密码错误");
                }
              }
            }
          });

        }





      })
    })
  </script>

    <!--<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>-->

</head>

<body>

  <div id="particles-js">
    <div class="login">
      <div class="login-top">
        HAND TO HAND
      </div>
      <div class="login-center clearfix">
        <div class="login-center-img"><img th:src="@{/img/name.png}" /></div>
        <div class="login-center-input">
          <input type="text" name="userName" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" />
          <div class="login-center-input-text">用户名</div>
        </div>
      </div>
      <div class="login-center clearfix">
        <div class="login-center-img"><img th:src="@{/img/password.png}" /></div>
        <div class="login-center-input">
          <input type="password" name="userPwd" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
          <div class="login-center-input-text">密码</div>
        </div>
      </div>
      <div class="login-center clearfix">
          <div class="checkbox" id="box_check">
            <label>
              <input type="checkbox"> 商家用户
            </label>
          </div>
      </div>
      <div class="login-button" name="loginButton">
        登陆
      </div>
      <div class="login-register">
          <a href="register_u">尚未注册，请点这里</a>
      </div>
    </div>
    <div class="sk-rotating-plane"></div>
  </div>

  <!-- scripts -->
  <script th:src="@{/js/particles.min.js}"></script>
  <script th:src="@{/js/app.js}"></script>


</body>

</html>