<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>商家</title>
</head>
<body>
<p id="p_user_id" hidden th:text="${session.nameofuser}"></p>

<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PPBZ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="shopkeeper">商品管理 <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">店铺信息</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user/login" th:text="'你好，'+${session.nameofuser}"></a></li>
                    <li><a href="/user/logout">登出</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="loginname">登陆账户</label>
                <input type="text" class="form-control" id="loginName" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="storename">店铺名称</label>
                <input type="text" class="form-control" id="storeName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">登陆密码</label>
                <input type="text" class="form-control" id="password">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="storeaddress">店铺名称</label>
                <input type="text" class="form-control" id="storeAddress">
            </div>
        </div>
    </div>
    <a href="commodity_add" class="btn btn-primary btn-lg active" role="button">修改</a>
</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var iuid=$("p").text();
        console.log(iuid);
        $.ajax({
            url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/Store/?Store.login_name="+iuid,
            contentType: "application/json",
            type: "GET",
            async:false,
            success: function (result) {
                console.log(result);
                // console.log(result.User[0].authority);
                $("input#loginName").val(result.Store[0].login_name);
                $("input#storeName").val(result.Store[0].store_name);
                $("input#password").val(result.Store[0].password);
                $("input#storeAddress").val(result.Store[0].store_address);
            }

        })
    })
</script>
</body>
</html>