<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/user_add.css}" rel="stylesheet" type="text/css"/>
    <title>管理员</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="UserID">UserID</label>
                <input type="text" class="form-control" id="userId">
            </div>
            <div class="form-group">
                <label for="LoginName">LoginName</label>
                <input type="text" class="form-control" id="loginName">
            </div>
            <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" id="userName">
            </div>
            <div class="form-group">
                <label for="UserPassword">Password</label>
                <input type="password" class="form-control" id="userPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="UserAuthority">Authority</label>
                <input type="text" class="form-control" id="userAuthority" placeholder="3">
            </div>
            <div class="form-group">
                <label for="UserAddress">Address</label>
                <input type="text" class="form-control" id="userAddress" placeholder="userAddress">
            </div>
            <div class="form-group">
                <label for="PhoneNumber">PhoneNumber</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="userAddress">
            </div>
            <div class="form-group">
                <label for="UserLongitude">UserLongitude</label>
                <input type="text" class="form-control" id="userLongitude">
            </div>
            <div class="form-group">
                <label for="UserLatitude">userLatitude</label>
                <input type="text" class="form-control" id="userLatitude">
            </div>
            <button type="submit" class="btn btn-default" id="submit"><a href="um" style="color: black">添加</a></button>

        </div>
        <div class="col-md-6">

        </div>

    </div>

</div>



<form>





</form>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var btn=$("button#submit");
        btn.click(function () {
            var id=$("input#userId").val();
            var uname=$("input#userName").val();
            var lname=$("input#loginName").val();
            var aut=$("input#userAuthority").val();
            var pwd=$("input#userPassword").val();
            var add=$("input#userAddress").val();
            var lon=$("input#userLongitude").val();
            var lat=$("input#userLatitude").val();
            var pnum=$("input#phoneNumber").val();
            var user ={
                user_id:id,
                login_name:lname,
                password:pwd,
                authority:aut,
                user_name:uname,
                user_address:add,
                phonenumber:pnum,
                longitude:lon,
                latitude:lat
            };
            console.log(user);
            $.ajax({
                url: "http://118.31.76.154:8080/Entity/U338ffb3af9551/BPM_H2H/User/",
                contentType: "application/json",
                type: "POST",
                async:false,
                data: JSON.stringify(user),
                success: function (result) {
                    alert("success");
                }
            });
        });
    });
</script>
</body>
</html>